#showList, #example{
    width: 1060px;
    border: transparent;
}

#listTable {
    margin-top: 20px;
    border: 1px dashed lightgrey;
}

#checkList {
    margin-top: 30px;
}

#add, #remove{
    margin-top: 6px;
}

td {
    padding: 5px;
}

th {
    padding: 12px;
}

th, td {
    border: 1px dashed lightgrey !important;
}

/****************** BOOTSTRAP ********************/

.form-control {
    box-shadow: inset 0 1px 1px white;
}

/***************** RESPONSIVE @media *************/
@media (min-width: 50px) and (max-width: 1198px) {
    #showList, #example{
        width: 100%;
    }
}